In this notebook, we summarize some of the essential tools and techniques used in Data Science.

In [ ]:
Data Science languages include:  
1. Python  
2. R  
3. SQL

In [ ]:
Popular Data Science libraries:  
1. Pandas  
2. NumPy  
3. Matplotlib

In [ ]:
| Tool          | Description                      |  
|---------------|----------------------------------|  
| Jupyter       | Interactive computing environment|  
| RStudio       | IDE for R                        |  
| Apache Spark  | Big data analytics engine        |

In [2]:
Let's explore some examples of arithmetic expressions in Python.
# Multiply and add numbers
(3 * 4) + 5

SyntaxError: unterminated string literal (detected at line 1) (3814135444.py, line 1)

In [3]:
# Multiply and add numbers
(3 * 4) + 5

17

In [4]:
# Convert 200 minutes to hours
200 / 60

3.3333333333333335

Objectives of this notebook:
- Introduce data science tools
- Practice markdown syntax
- Execute Python code

In [ ]:
**Author:** Aditya